<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Network</h2>
        <i class="pi pi-wifi header-icon"></i>
    </ng-template>

    <p-table [value]="topIps">
        <ng-template pTemplate="header">
            <tr>
                <th>IP Address</th>
                <th>Packets</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ip>
            <tr>
                <td>{{ ip.ip }}</td>
                <td>{{ ip.numPackets }}</td>
            </tr>
        </ng-template>
    </p-table>
    
</p-panel>