<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Network</h2>
        <i class="pi pi-wifi header-icon"></i>
    </ng-template>
    <div class="settings">
        <div class="setting">
            <p-knob [(ngModel)]="numberOfPacketsPerUpdate" size="100" readonly="true" [min]="MIN_NUM_PACKETS_REQUEST" [max]="MAX_NUM_PACKETS_REQUEST"/>
            <p>Packets Per Request</p>
            <p-button 
                class="button"
                icon="pi pi-plus" 
                (onClick)="onRequestSettingsChange(STEP_NUM_PACKETS_REQUEST, 0)"
                [disabled]="numberOfPacketsPerUpdate>= MAX_NUM_PACKETS_REQUEST" />
            <p-button 
                class="button"
                icon="pi pi-minus" 
                (onClick)="onRequestSettingsChange(-1 * STEP_NUM_PACKETS_REQUEST, 0)" 
                [disabled]="numberOfPacketsPerUpdate <= MIN_NUM_PACKETS_REQUEST" />
        </div>

        <div class="setting">
            <p-knob [(ngModel)]="updateTimeInMinutes" size="100" readonly="true" [min]="MIN_REQUEST_TIME_MINUTES" [max]="MAX_REQUEST_TIME_MINUTES"/>
            <p>Request Time - Minutes</p>
            <p-button 
            class="button"
            icon="pi pi-plus" 
            (onClick)="onRequestSettingsChange(0, STEP_REQUEST_TIME_MINUTES)" 
            [disabled]="updateTimeInMinutes >= MAX_REQUEST_TIME_MINUTES"/>
            <p-button 
            class="button"
            icon="pi pi-minus" 
            (onClick)="onRequestSettingsChange(0, -1 * STEP_REQUEST_TIME_MINUTES)" 
            [disabled]="updateTimeInMinutes <= MIN_REQUEST_TIME_MINUTES"/>
        </div>
        <div class="setting">
            <p-knob [(ngModel)] ="numPacketsNeededToDisplay" size="100" readonly="true" [min]="MIN_PACKETS_NEEDED" [max]="MAX_PACKETS_NEEDED"/>
            <p>Display Threshold</p>
            <p-button 
                class="button"
                icon="pi pi-plus"
                (onClick)="numPacketsNeededToDisplay = numPacketsNeededToDisplay + STEP_PACKETS_NEEDED; topIps = getTableData(allIps);" 
                [disabled]="numPacketsNeededToDisplay >= MAX_PACKETS_NEEDED"/>
            <p-button
                class="button"
                icon="pi pi-minus" 
                (onClick)="numPacketsNeededToDisplay = numPacketsNeededToDisplay - STEP_PACKETS_NEEDED; topIps = getTableData(allIps);" 
                [disabled]="numPacketsNeededToDisplay <= MIN_PACKETS_NEEDED"/>
        </div>
    </div>
<br>
    <p-table [value]="topIps">
        <ng-template pTemplate="header">
            <tr>
                <th>IP Address</th>
                <th>Packets</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ip>
            <tr>
                <td>{{ ip.ip }}</td>
                <td>{{ ip.numPackets }}</td>
            </tr>
        </ng-template>
    </p-table>
    
</p-panel>