<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Network</h2>
        <i class="pi pi-wifi header-icon"></i>
    </ng-template>
    <div class="settings">
        <div>
            <p>Update Time - Seconds</p>
            <p-inputNumber
                inputId="withoutgrouping"
                [useGrouping]="false"
                mode="decimal"
                [maxFractionDigits]="2"
                [(ngModel)]="updateTimeInSeconds"
            ></p-inputNumber>
        </div>
        <div>
            <p>Packets Per Request<p>
            <p-inputNumber
                inputId="withoutgrouping"
                [useGrouping]="false"
                [(ngModel)]="numberOfPacketsPerUpdate"
            ></p-inputNumber>
        </div>
    </div>

    <p-table [value]="topIps">
        <ng-template pTemplate="header">
            <tr>
                <th>IP Address</th>
                <th>Packets</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ip>
            <tr>
                <td>{{ ip.ip }}</td>
                <td>{{ ip.numPackets }}</td>
            </tr>
        </ng-template>
    </p-table>
    
</p-panel>