.title-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.title-bar-text {
    margin: 5px;
}

.left-title-bar {
    justify-content: left;
}

.right-title-bar{ 
    justify-content: right;
    vertical-align: center;
}

.pi {
    font-size: 2.5rem;
    cursor: pointer;
}