<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Computer Stats</h2>
        <i class="pi pi-gauge header-icon"></i>
    </ng-template>

    <div class="panel-body">
        <p>Table Update Time<p>
        <p-inputNumber
            inputId="withoutgrouping"
            [useGrouping]="false"
            mode="decimal"
            [maxFractionDigits]="2"
            [(ngModel)]="updateTimeInSeconds"
            (onInput)="updateTableObservable()"
        ></p-inputNumber>

        <div class="static-data">
            <!-- CPU Count, CPU Type, System -->
            <p>CPU Count: {{cpuCountText}}</p>
            <p>CPU Type: {{cpuTypeText}}</p>
            <p>System: {{systemText}}</p>
            <p>RAM Available: {{totalRamText}}</p>
        </div>
        <div class="dynamic-data">
            <!-- CPU, GPU, and RAM usage graphs all in one?? -->
             <p-chart type="line" [data]="tableData" [options]="tableOptions"></p-chart>
             <div class="knobs">
                <div>
                    <p-knob [(ngModel)]="latestCpuUsage" valueTemplate="{value}%"></p-knob>
                    <p>CPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="lastestGpuUsage" valueTemplate="{value}%"></p-knob>
                    <p>GPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="latestRamUsage" valueTemplate="{value}%"></p-knob>
                    <p>RAM Usage</p>
                </div>
             </div>
        </div>
    </div>
</p-panel>