.knobs {
    display: flex;
    justify-content: space-evenly;
}

.static-data {
    display: grid;
    grid-row: auto auto auto;
    grid-template-columns: 33% 33% 33%;
}

.setting {
    text-align: center;
    vertical-align: middle;
}