<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Computer Stats</h2>
        <i class="pi pi-gauge header-icon"></i>
    </ng-template>

    <div class="panel-body">
        <div class="static-data">
            <!-- CPU Count, CPU Type, System -->
             <span>
                <p>CPU Count: {{cpuCountText}}</p>
                <p>CPU Type: {{cpuTypeText}}</p>
                <p>System: {{systemText}}</p>
                <p>RAM Available: {{totalRamText}}</p>
             </span>
        </div>
        <div class="dynamic-data">
            <!-- CPU, GPU, and RAM usage graphs all in one?? -->
             <p-chart type="line" [data]="tableData" [options]="tableOptions"></p-chart>
             <div class="knobs">
                <div>
                    <p-knob [(ngModel)]="latestCpuUsage"></p-knob>
                    <p>CPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="lastestGpuUsage"></p-knob>
                    <p>GPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="latestRamUsage"></p-knob>
                    <p>RAM Usage</p>
                </div>
             </div>
        </div>
    </div>
</p-panel>