<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Computer Stats</h2>
        <i class="pi pi-gauge header-icon"></i>
    </ng-template>

    <div class="panel-body">
        <div class="upper-section">
            <div class="setting">
                <p-knob [(ngModel)]="updateTimeInSeconds" size="100" readonly="true" [min]="MIN_UPDATE_TIME" [max]="MAX_UPDATE_TIME"/>
                <p>Update Time - Seconds</p>
                <p-button 
                    icon="pi pi-plus" 
                    (onClick)="updateTimeInSeconds = updateTimeInSeconds + TIME_UPDATE_INCREMENT; updateTableObservable()" 
                    [disabled]="updateTimeInSeconds >= MAX_UPDATE_TIME" />
                <p-button 
                    icon="pi pi-minus" 
                    (onClick)="updateTimeInSeconds = updateTimeInSeconds - TIME_UPDATE_INCREMENT; updateTableObservable()" 
                    [disabled]="updateTimeInSeconds <= MIN_UPDATE_TIME" />
            </div>

            <!-- CPU Count, CPU Type, System -->
            <div class="static-data">
                <p>CPU Count: {{cpuCountText}}</p>
                <p>CPU Type: {{cpuTypeText}}</p>
                <p>System: {{systemText}}</p>
                <p>Total RAM: {{totalRamText}}</p>
            </div>
        </div>
        <div class="dynamic-data">
            <!-- CPU, GPU, and RAM usage graphs all in one?? -->
             <p-chart #chart type="line" [data]="tableData" [options]="tableOptions"></p-chart>
             <div class="knobs">
                <div>
                    <p-knob [(ngModel)]="latestCpuUsage" valueTemplate="{value}%" readonly="true"></p-knob>
                    <p>CPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="lastestGpuUsage" valueTemplate="{value}%" readonly="true"></p-knob>
                    <p>GPU Usage</p>
                </div>
                <div>
                    <p-knob [(ngModel)]="latestRamUsage" valueTemplate="{value}%" readonly="true"></p-knob>
                    <p>RAM Usage</p>
                </div>
             </div>
        </div>
    </div>
</p-panel>