#body{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
#daily-tasks{
    border-right: thin solid white;
}

.sub-header{
    text-align: center;
    text-decoration: underline;
}
.task-entry{
    display: inline-block;
    width: 100%;
    font-size: large;
}

:host ::ng-deep{
    p-button{
        :hover{
            cursor: pointer;
        }
        .check-icon-button{
            color: green;
        }
        .star-icon-button{
            color: gold;
        }
    }
}