#body{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
#daily-tasks{
    border-right: thick dashed white;
}
.sub-header{
    text-align: center;
    text-decoration: underline;
}
.task-entry{
    display: flex;
}
.task-checkbox{
    padding-right: 1rem;
}