<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <h2>Applications</h2>
        <i class="pi pi-table header-icon"></i>
    </ng-template>
    <div class="icon-container">
        <a href = "http://www.youtube.com">
             <img src="../../assets/ApplicationIcons/Youtube.png" alt="Youtube" class="icon">
        </a>
        <a href = "http://www.netflix.com">
            <img src="../../assets/ApplicationIcons/Netflix.png" alt="Netflix" class="icon">
       </a>
       <a href = "https://calendar.google.com">
        <img src="../../assets/ApplicationIcons/Calendar.png" alt="Google Calendar" class="icon">
       </a>

       <a href = "https://drive.google.com">
        <img src="../../assets/ApplicationIcons/Drive.png" alt="Google Drive" class="icon">
       </a>
       <a href = "https://calendar.google.com/calendar/u/0/r/tasks">
        <img src="../../assets/ApplicationIcons/Tasks.png" alt="Google Tasks" class="icon">
       </a>
       <a href = "https://www.amazon.com">
        <img src="../../assets/ApplicationIcons/Amazon.png" alt="Amazon" class="icon">
       </a>
       <a href = "https://app.rocketmoney.com">
        <img src="../../assets/ApplicationIcons/RocketMoney.png" alt="Rocket Money" class="icon">
       </a>
    </div>
</p-panel>